body {
  line-height: 1.5;
  max-width: 800px;
  margin: auto;
  padding: 2em;
}

body>header{
  margin-bottom: 2em;
}

body>footer{
  margin-top: 3em;
}

h2 {
  margin-top: 1em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 0.5em;
}

p {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

li {
  list-style-type: disc;
  margin-left: 2em;
}