body {
  line-height: 1.5;
  max-width: 800px;
  margin: auto;
  padding: 2em;
  background: rgb(240, 240, 240);
}

body>header{
  margin-bottom: 2em;
}

body>footer{
  margin-top: 3em;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
  border-top: solid 1px #999;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 0.5em;
}

p {
  margin: 0.5em 0;
  text-align: justify;
}

li {
  list-style-type: disc;
  margin-left: 2em;
}